[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-picross
Exec=sailfish-qml harbour-picross
Name=Picross
Name[fr]=Picross
Name[it]=Picross
Name[fi]=Picross
